.container {
  max-width: 1100px;
  margin: 0 auto;
}

.m-20 {
  margin: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.p-30 {
  padding: 30px !important;
}

.center {
  text-align: center !important;
}

input {
  width: 320px !important;
}
